#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
